<!DOCTYPE html>
<html>
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>人才小区维权</title>
   
    
      <script src="./js/rem.js"></script>
      <style>
            .container{
                  font-size: .18rem;
            }
            ul,li{
                  list-style: none;
                  margin: 0;
                  padding: 0;
            }
            [v-cloak]{
                  display: none !important;
            }
            .mt{
                  margin-top: .2rem;
            }
            .outerList td{
               padding-top: .15rem;
            }
            .width1{
                  width: 1rem;
            }
            .width2{
                  width: 2rem;
            }
      </style>
      <script src="./js/jquery.min.js"></script>
      <script src="./js/vue.js"></script>
</head>
<body>
 <div id="app" v-cloak class="container">
      
      <div>
            
            <table class="outerList" style="width: 100%;">
                  <tr>
                    <td>姓名</td>
                    <td>几栋几号</td>
                    <td>面积</td>
                    <td>房子总价</td>
                    <td>购买车位?</td>
                  </tr>
                  <tr  v-for="(item,index) in userList">
                     <td style="width: 1rem;">{{item.userName}}</td>
                     <td><input v-model="item.build" class="width1" type="text"></td>
                     <td><input v-model="item.area"  class="width1"  type="text"></td>
                     <td><input v-model="item.price" class="width1"   type="text"></td>
                     <td>
                           <select v-model="item.is_car">
                                 <option value="1"  :selected="item.is_car==1?'selected':''" >是</option>
                                 <option  value="0"  :selected="item.is_car==1?'':'selected'">否</option>
                           </select>
                           <button @click="updataInfo(item.id,index)">更新</button>
                        </td>
                  </tr>
                 
                  
            </table>
            <table>
                  <tr>
                        <td><input class="width2" v-model="form.userName" placeholder="姓名" type="text" name="" id=""> </td>
                        <td><input class="width2" v-model="form.phone" placeholder="手机" > </td>
                        <td> 
							车位:
                            <select v-model="form.is_car">
                                 <option value="1">是</option>
                                 <option value="0">否</option>
                            </select>
                        </td>
                     </tr>
                     <tr>
                           <td><input class="width2" v-model="form.build" placeholder="几栋几号" type="text" name="" id=""> </td>
                           <td><input class="width2" v-model="form.area" placeholder="面积" type="text" name="" id=""> </td>
                           <td><input class="width2" v-model="form.price" placeholder="房子总价" type="text" name="" id=""> </td>
                     </tr>
                     <tr>
                        <td><input class="width2" v-model="form.card" placeholder="填写身份证" type="text" name="" id=""> </td>
                  </tr>
            </table>
            <div style="text-align:center;">
				<button class="mt" style="width: 3rem;height: .6rem;" @click="addUserInfo()">添加</button>
			</div>
      </div>
      
     
</div>

<script>
      


      new Vue({
            el: '#app',
            data: {
                  userList: [],
                  form: {
                        userName:"",
                        phone:"",
                        card:"",
                        build:"",
                        area:"",
                        price:"",
                        is_car:"0"
                  },
            },
            mounted:function(){
                  var _this = this;
                  $.get('http://47.98.163.21/activeRouter/getUserList',function(res){
                     _this.userList = res.data;
                  })
            },
            methods: {
                  updataInfo: function (id,index) {
                        var updateInfo =  this.userList[index];
                         updateInfo.id = id;
                        $.get('http://47.98.163.21/activeRouter/updataInfo',updateInfo,function(res){
                              console.log(res);
                              if(res.code == 200){
                                    alert('更新成功');
                              }else{
                                    alert('请完善信息再次提交');
                              }
                        })
                  //  console.log(this.userList[index]);
                  },
                  addUserInfo:function(){
                        console.log(this.form);
                        if($.trim(this.form.card)=="" || $.trim(this.form.phone)==""){
                              alert('请填写身份证与手机号');
                              return false;
                        }
						if($.trim(this.form.phone).length<11){
							alert('手机位数不对');
                            return false;
						}
                        $.get('http://47.98.163.21/activeRouter/addInfo',this.form,function(res){
                              if(res.code == 200){
                                    alert('添加成功');
                                    window.location.reload();
                              }else{
                                    alert('填写失败，可能已经存在你的记录或有未填写项目');
                              }
                        })
                  }
            }
      })
</script>
</body>
</html>
